affine==2.3.1
anyio==3.5.0
apache-sedona==1.2.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.10.0
black==22.1.0
bleach==4.1.0
bokeh==2.4.3
bqplot==0.12.33
branca==0.4.2
brotlipy==0.7.0
cachetools==5.0.0
Cartopy==0.20.3
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.0
click==8.0.3
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.1.0
colorcet==3.0.0
colour==0.1.5
cycler==0.11.0
dask==2022.8.0
datashader==0.14.1
datashape==0.5.2
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
distributed==2022.8.0
earthengine-api==0.1.298
ee-extra==0.0.10
entrypoints==0.4
executing==0.8.2
ffmpeg-python==0.2.0
Fiona==1.8.21
folium==0.12.1.post1
fonttools==4.29.1
fsspec==2022.7.1
future==0.18.2
geeadd==0.5.5
geemap==0.11.3
GeoAlchemy2==0.12.5
geocoder==1.38.1
geojson==2.5.0
geopandas==0.11.0
geoviews==1.9.5
google-api-core==2.5.0
google-api-python-client==1.12.10
google-auth==2.6.0
google-auth-httplib2==0.1.0
google-cloud-core==2.2.2
google-cloud-storage==2.1.0
google-crc32c==1.3.0
google-resumable-media==2.2.1
googleapis-common-protos==1.54.0
googledrivedownloader==0.4
greenlet==1.1.2
h5py==3.7.0
HeapDict==1.0.1
here-map-widget-for-jupyter==1.1.3
holoviews==1.15.0
httplib2==0.20.4
httplib2shim==0.0.3
hvplot==0.8.0
idna==3.3
imageio==2.21.1
importlab==0.6.1
ipyevents==2.0.1
ipyfilechooser==0.6.0
ipykernel==6.9.0
ipyleaflet==0.15.0
ipynb-py-convert==0.4.6
ipython==8.0.1
ipython-genutils==0.2.0
ipytree==0.2.1
ipywidgets==7.6.5
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
json5==0.9.6
jsonschema==4.4.0
jupyter-client==7.1.2
jupyter-core==4.9.1
jupyter-server==1.13.5
jupyterlab==3.2.9
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
jupyterlab-widgets==1.0.2
kiwisolver==1.3.2
libcst==0.3.23
llvmlite==0.38.0
locket==1.0.0
logzero==1.7.0
Markdown==3.4.1
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mistune==0.8.4
msgpack==1.0.4
mss==6.1.0
multipledispatch==0.6.0
munch==2.5.0
mypy-extensions==0.4.3
nbclassic==0.3.5
nbclient==0.5.10
nbconvert==6.4.2
nbformat==5.1.3
nest-asyncio==1.5.4
networkx==2.6.3
ninja==1.10.2.3
notebook==6.4.8
numba==0.55.2
numpy==1.22.2
OWSLib==0.25.0
packaging==21.3
palettable==3.3.0
pandas==1.4.3
pandocfilters==1.5.0
panel==0.13.1
param==1.12.2
parso==0.8.3
partd==1.2.0
pathspec==0.9.0
patsy==0.5.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
platformdirs==2.5.0
plotly==5.6.0
prometheus-client==0.13.1
prompt-toolkit==3.0.28
protobuf==3.19.4
psutil==5.9.1
psycopg2==2.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.5
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser==2.21
PyCRS==1.0.2
pyct==0.4.8
Pygments==2.11.2
pylr2==0.1.0
pyparsing==3.0.7
pyproj==3.3.1
pyrsistent==0.18.1
pyshp==2.2.0
pyspark==3.3.0
python-box==5.4.1
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2021.3
pyviz-comms==2.2.0
PyYAML==6.0
pyzmq==22.3.0
rasterio==1.3.0
ratelim==0.1.6
requests==2.28.1
rioxarray==0.11.1
rsa==4.8
Rtree==1.0.0
sankee==0.0.7
scikit-gstat==1.0.1
scikit-learn==1.1.2
scipy==1.9.0
seaborn==0.11.2
Send2Trash==1.8.0
Shapely==1.8.2
six==1.16.0
sniffio==1.2.0
snuggs==1.4.7
sortedcontainers==2.4.0
soupsieve==2.3.1
SQLAlchemy==1.4.39
-e git+ssh://git@github.com/ameliaholcomb/biomass-recovery.git@3b42b66f89ed7dff4cfe7efc27f395df94b95cf1#egg=src
stack-data==0.1.4
statsmodels==0.13.2
tabulate==0.8.9
tblib==1.7.0
tenacity==8.0.1
terminado==0.13.1
testpath==0.5.0
threadpoolctl==3.1.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
tornado==6.1
tqdm==4.64.0
traitlets==5.1.1
traittypes==0.2.1
typing-inspect==0.7.1
typing_extensions==4.0.1
uritemplate==3.0.1
urllib3==1.26.10
utm==0.7.0
voila==0.3.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
websockets==10.1
whitebox==2.1.1
whiteboxgui==0.7.0
widgetsnbextension==3.5.2
xarray==2022.3.0
xyzservices==2022.2.0
zict==2.2.0
